<!-- <app-title title="RIDE" margin="1.5rem 0 0 2.5rem"></app-title> -->
<!-- <app-not-found
  [visible]="!cart || !cart.items.length"
  notFoundMessage="No vehicle selected"
  resetLinkText="Explore "
></app-not-found> -->
<div *ngIf="cart && cart.items.length" class="container">
  <div class="oooi "
  style="
  width: 70vw;
  display: flex;
  flex-direction: column;"
  >
<ul>
  <li *ngFor="let cartItem of cart.items">
    <div>
      <img [src]="cartItem.Bike.imageUrl" [alt]="cartItem.Bike.name">
    </div>
    <div>
      <a routerLink="/bike/{{cartItem.Bike.id}}" class ="name">
        <h2>{{cartItem.Bike.name}}</h2>
      </a>
    </div>
    <div>
      <!-- <h6>DAYS</h6>
      <select #quantitySelect
      [value]="cartItem.quantity"
      (change)="changeQuantity(cartItem, quantitySelect.value)">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select> -->
    </div>
    <div>
        ₹ {{cartItem.price }}
    </div>

    <div>
      <button class="remove-button" (click)="removeFromCart(cartItem)">
        Remove
      </button>
    </div>
  </li>

</ul>
<br>

<!-- <app-not-found
  [visible]="true"
  notFoundMessage=" "
  resetLinkText="ADD MORE"
></app-not-found> -->

</div>
<div class="checkout">
  <div>
    <div class="bikes-count">{{cart.totalCount}}</div>
    <div class="total-price">₹{{cart.totalPrice}}</div>
  </div>

  <a routerLink="/checkout">Proceed to Checkout</a>
</div>
</div>